Source: lmd-xfce
Maintainer: lmd Linux <lmd.linux@gmail.com>
Section: misc
Priority: important
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13)

Package: lmd-xfce
Architecture: all
Depends:
 blueman,
 elementary-xfce-icon-theme,
 galculator,
 greybird-gtk-theme,
 libglib2.0-bin,
 light-locker,
 lightdm-gtk-greeter,
 lmd-desktop,
 menulibre,
 mousepad,
 mpv,
 mugshot,
 network-manager-gnome,
 pkexec,
 ristretto,
 seahorse,
 thunar-archive-plugin,
 tumbler-plugins-extra,
 xfce4,
 xfce4-notifyd,
 xfce4-power-manager,
 xfce4-screenshooter,
 xfce4-terminal,
 xfce4-whiskermenu-plugin
Description: XFCE for lmd Linux
 Collection of XFCE packages and configurations for lmd Linux
